---
serverinventory:
{% for item in csvfile.split("\n") %}
{%   if loop.index != 1 %}
{%     set list = item.split(",") %}
  - Environment : '{{ list[0]|trim() }}'
    Short_Description: '{{ list[1]|trim() }}'
    Category: '{{ list[2]|trim() }}'
  
{%   endif %}
{% endfor %}
